@CHARSET "ISO-8859-1";
article.page{display: table; table-layout: fixed; width: 100%;}
article.page > div {display: table-row;}
article.page > div > section.content{display: table-cell;}
article.page > div > aside.side{width: 50%; display: table-cell;}
article.page > div > aside.side > fieldset#sidebarList{padding: 7px 14px 14px;}
article.page .sortableList > .sortableNode > .sortableNodeLabel > span.statusDisplay > a > span.badge{position: relative; top: -7px;}
