.newsNavigationLink > span {
	position: absolute;
	display: none;
	transition: 3s ease all;
}
.newsNavigation:hover  .newsNavigationLink > span {
	display:inline-block;
	color: @wcfContainerBackgroundColor;
}

.newsBox256, .newsBox128{
	> :first-child { float: left; margin-right: @wcfGapMedium; margin-bottom: @wcfGapMedium;}
	> .newsText {text-align: justify;}
	> .newsTeaser {text-align: justify;}
}

.menuContainer{
	.cmsMenu{
		> li > ul > li > a {padding-left: 35px;}
		> li > ul > li > ul > li a {padding-left: 56px;}
		> li > ul > li > ul > ul > li a {padding-left: 77px;}
		> li > ul > li > ul > ul > li > ul > li a {padding-left: 98px;}
		> li > ul > li > ul > ul > li > ul > li > ul > li a {padding-left: 119px;}
	}
}
#tplPage{
	aside.sidebar .pollContainer{
		float: none;
		min-width: 230px;
		max-width: 230px;
		> fieldset {min-width: 230px !important; width: 230px !important;}
		> .formSubmit { width: 272px; }
	}
	section.content .pollContainer{
		float: none;
		max-width: 100%;
	}

	.fireballSlideContainer{
		position: relative;
		margin-bottom: @wcfGapLarge;
		> div {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}
		> ul.slideshowButtonList {
			width: 100%;
			text-align: center;
			bottom: -15px;
			top: auto;
			position: absolute;
			right: 0;
			> li {
				display: inline-block;
				&.active > a > span{
					transition: 0.5s all ease-in-out;
					color: @wcfContainerHoverBackgroundColor;
				}
			}
		}
	}


	figure {
		margin-top: @wcfGapMedium;
		margin-bottom: @wcfGapMedium;
		overflow: hidden;
		> figcaption {
			font-style: italic;
			font-size: @wcfSmallFontSize;
		}

		> a.framed > img {max-width: 100%; height: auto; }
		> a.imgThumb > img {max-width: 100%; height: auto; max-height: 150px;}
		> img {max-width: 100%; height: auto;}
	}

	.galleryImage{
		max-width: 100%; height: auto;
		> figure {
			background: @wcfContainerBackgroundColor;
			border: 1px solid @wcfContainerBorderColor;
			width: 100%;
			border-radius: @wcfContainerBorderRadius;
			-webkit-border-radius: @wcfContainerBorderRadius;
			-moz-border-radius: @wcfContainerBorderRadius;
			line-height: 170px;
			height: 190px;
			transition: .2s all ease-in-out;
			&:hover{background: @wcfContainerHoverBackgroundColor;}
		}
	}

	#main{
		div[data-content-type="de.codequake.cms.content.type.headline"], div[data-content-type="de.codequake.cms.content.type.html"], div[data-content-type="de.codequake.cms.content.type.tpl"], div[data-content-type="de.codequake.cms.content.type.php"], div[data-content-type="de.codequake.cms.content.type.text"]{
			h1{
				font-size: @wcfHeadlineFontSize;
				font-weight: bold;
				color: @wcfHeadlineColor;
				font-family: @wcfHeadlineFontFamily;
			}
			h2{
				font-size: @wcfSubHeadlineFontSize;
				font-weight: bold;
				color: @wcfHeadlineColor;
				font-family: @wcfHeadlineFontFamily;
			}

			h3{
				font-size: @wcfTitleFontSize;
				font-weight: bold;
				color: @wcfHeadlineColor;
				font-family: @wcfHeadlineFontFamily;
			}
			h4{
				font-weight: bold;
				color: @wcfHeadlineColor;
				font-family: @wcfHeadlineFontFamily;
			}
		}
	}

	.userCard > div > .buttonGroupNavigation {float: right;}

	.elastic_video{
		position: relative;
		padding-bottom: 55%;
		padding-top: 15px;
		height: 0;
		overflow: hidden;
	}

	.elastic_video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}
