.newsNavigationLink > span {
    position: absolute;
    display: none;
    transition: 3s ease all;
}
.newsNavigation:hover  .newsNavigationLink > span {
    display:inline-block;
    color: @wcfContainerBackgroundColor;
}