.menuContainer {
	.cmsMenu {
		> li > ul > li > a {
			padding-left: 35px;
		}
		> li > ul > li > ul > li a {
			padding-left: 56px;
		}
		> li > ul > li > ul > li > ul > li a {
			padding-left: 77px;
		}
		> li > ul > li > ul > li > ul > li > ul > li a {
			padding-left: 98px;
		}
		> li > ul > li > ul > li > ul > li > ul > li > ul > li a {
			padding-left: 119px;
		}
	}
}

#contentAddForm {
	.gridContainer {
		border: 1px solid #cccccc;
		&:before, &:after {
			display: table;
			content: '';
		}
		&:after {
			clear: both;
		}
	}
	.grid {
		float: left;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		position: relative;
		&:not(:last-child) {
			padding-right: 7px;
		}

		> div {
			background: #f1f5fa;
			height: 300px;
			padding-top: 60px;
			text-align: center;
		}

		.gridNumber > span {
			display: block;
			font-size: 100px;
		}

		.gridResize {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			background: #cccccc;
			width: 14px;
		}

		&:last-child .gridResize {
			display: none;
		}
	}
}

.sortableContentList {
	.sortableList {
		margin-left: 0;
	}
	ol {
		list-style: none;
	}
}

.ui-droppable {
	min-height: 50px;
	border: 1px dashed blue;
	> .cmsOptions {
		text-align: right;
	}
	&.droppable-state-active {
		border: 1px dashed green;
	}
	> .draggedContent {
		min-height: 50px;
		border: 1px dotted rgba(0, 0, 0, 0.5);
	}
}

#tpl_cms_page {
	aside.sidebar .pollContainer {
		float: none;
		min-width: 230px;
		max-width: 230px;

		> section {
			min-width: 230px !important;
			width: 230px !important;
		}

		> .formSubmit {
			width: 272px;
		}
	}

	section.content .pollContainer {
		float: none;
		max-width: 100%;
	}

	.fireballSlideContainer {
		position: relative;
		overflow: hidden;
		> div {
			position: absolute;
			@include transition(all, 1s, ease-out);
			> div.fireballSlide {
				float: left;
				position: absolute;
				top: 0;
				overflow: hidden;
			}
			&.fireballSlide {
				float: none;
				position: relative;
				&:not(:first-child) {
					display: none;
				}
			}
		}

		> ul.slideshowButtonList {
			width: 100%;
			text-align: center;
			top: auto;
			position: absolute;
			right: 0;
			bottom: 0;
			> li {
				display: inline-block;

				&.active > a > span {
					transition: 0.5s all ease-in-out;
					color: #ffffff;
				}
			}
		}
	}

	#main {
		div[data-content-type="de.codequake.cms.content.type.headline"],
		div[data-content-type="de.codequake.cms.content.type.tpl"],
		div[data-content-type="de.codequake.cms.content.type.php"],
		div[data-content-type="de.codequake.cms.content.type.text"] {
			h1 {
				//font-size: @wcfHeadlineFontSize;
				//font-weight: bold;
				//color: @wcfHeadlineColor;
				//font-family: @wcfHeadlineFontFamily;
			}

			h2 {
				//font-size: @wcfSubHeadlineFontSize;
				//font-weight: bold;
				//color: @wcfHeadlineColor;
				//font-family: @wcfHeadlineFontFamily;
			}

			h3 {
				//font-size: @wcfTitleFontSize;
				font-weight: bold;
				//color: @wcfHeadlineColor;
				//font-family: @wcfHeadlineFontFamily;
			}

			h4 {
				font-weight: bold;
				//color: @wcfHeadlineColor;
				//font-family: @wcfHeadlineFontFamily;
			}
		}
	}

	.userCard > div > .buttonGroupNavigation {
		float: right;
	}

	.elastic_video {
		position: relative;
		padding-bottom: 55%;
		padding-top: 15px;
		height: 0;
		overflow: hidden;
	}

	.elastic_video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**
 * Frontend Content Management
 */

#tpl_cms_pageEditor .ui-droppable {
	margin-top: 20px;
	margin-bottom: 20px;
	min-width: 100px;
}

.sortableContentList {
	.jsContentRow {
		&.htmlContent::before {
			display: none;
		}

		.buttonList {
			list-style: none;
		}

		> span.sectionTitle {
			display: block;
			width: 100%;

			margin-bottom: 20px;
			border-bottom: 1px solid $wcfContentBorderInner;
			padding-bottom: 10px;

			color: $wcfContentHeadlineText;

			@include wcfFontSection;

			a {
				color: $wcfContentHeadlineLink;

				&:hover {
					color: $wcfContentHeadlineLinkActive;
				}
			}

			.badge {
				top: -2px;
			}
		}
	}
}

#contentTypeListMove {
	float: right;
	padding: 2px;
	margin-right: 8px;
}

#contentTypeListToggle {
	float: right;
	padding: 2px;
	margin-right: 8px;
}

.contentTypeList {
	width: 350px;
	background-color: rgba(255, 255, 255, 1);
	bottom: 0;
	overflow: hidden;
	top: 0;
	z-index: 320;
	display: none;
	position: fixed;

	&.leftSide {
		left: 0;
	}

	&.rightSide {
		right: 0;
	}

	&.open {
		display: block;
	}

	> div {
		overflow-x: hidden;
		overflow-y: auto;
		transition: transform 0.24s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		visibility: visible;
		background-color: $wcfSidebarBackground;
		width: 350px;
		height: 100%;
		list-style-type: none;
		margin: 0;
		padding: 5px;
		position: static;
		top: 0;
		left: -1px;
		bottom: 0;
		z-index: 450;

		> section {
			> ul {
				padding: 0 20px;

				> li {
					padding: 5px 0;
					border-bottom: 1px solid $wcfContentBorder;
					cursor: move;

					&.ui-draggable-dragging {
						background: $wcfDropdownBackgroundActive;
						width: 200px;
					}
				}
			}

			> .wideButton {
				margin-top: 0;
				padding-top: 5%;

				> button {
					padding: 10px 45px;
				}
			}
		}
	}
}

.sortableListContainer.sortableContentList {
	.buttonList {
		float: right;
	}
}

.pieChartContainer {
	.pieTitle {
		font-family: $wcfFontFamily;
		@include wcfFontHeadline;
		@include wcfLineHeight;
		fill: $wcfContentText;
	}
	.pieLegend, .pieLegendItem {
		font-family: $wcfFontFamily;
		@include wcfFontDefault;
		@include wcfLineHeight;
		fill: $wcfContentText;
	}
}

[data-content-type="de.codequake.cms.content.type.image"] {
	img {
		width: 100%;
		height: auto;
	}
}

[data-content-type="de.codequake.cms.content.type.gallery"] {
	.galleryContainer {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		> .galleryImage {
			padding: 5px 2.5px;
		}
	}
	img {
		max-height: 150px;
		max-width: 100%;
	}
}

[data-content-type="de.codequake.cms.content.type.columns"] {
	> .section:first-child {
		margin-top: 0;
	}
	@include screen-md-up {
		> .section {
			margin-top: 0;
		}
	}
}

.sitemapList {
	li {
		padding: 5px 0;

		&:not(:last-child) {
			border-bottom: 1px solid $wcfContentBorderInner;
		}

		ul {
			li:first-child {
				margin-top: 5px;
				border-top: 1px solid $wcfContentBorderInner;
			}

			li:last-child {
				padding-bottom: 0;
			}
		}
	}
}
