.newsNavigationLink > span {
    position: absolute;
    display: none;
    transition: 3s ease all;
}
.newsNavigation:hover  .newsNavigationLink > span {
    display:inline-block;
    color: @wcfContainerBackgroundColor;
}

.newsBox256, .newsBox128{
	> :first-child { float: left; margin-right: @wcfGapMedium; margin-bottom: @wcfGapMedium;}
	> .newsText {text-align: justify;}
	> .newsTeaser {text-align: justify;}
}

#tplPage{
	aside.sidebar .pollContainer{
		float: none;
		min-width: 230px;
		max-width: 230px;
		> fieldset {min-width: 230px !important; width: 230px !important;}
		> .formSubmit { width: 272px; }
	}
	section.content .pollContainer{
		float: none;
		max-width: 100%;
	}

	figure > figcaption {
		font-style: italic;
		font-size: @wcfSmallFontSize;
	}

	h1{
		font-size: @wcfHeadlineFontSize;
		font-weight: bold;
		color: @wcfHeadlineColor;
		font-family: @wcfHeadlineFontFamily;
	}
	h2{
		font-size: @wcfSubHeadlineFontSize;
		font-weight: bold;
		color: @wcfHeadlineColor;
		font-family: @wcfHeadlineFontFamily;
	}

	h3{
		font-size: @wcfTitleFontSize;
		font-weight: bold;
		color: @wcfHeadlineColor;
		font-family: @wcfHeadlineFontFamily;
	}
	h4{
		font-weight: bold;
		color: @wcfHeadlineColor;
		font-family: @wcfHeadlineFontFamily;
	}
	table{
		border: 1px solid @wcfContainerBorderColor;
		>	caption{
			font-size: @wcfTitleFontSize;
			font-weight: bold;
			color: @wcfHeadlineColor;
			font-family: @wcfHeadlineFontFamily;
		}
		th,
		td {
			padding: @wcfGapSmall;
			text-align: left;
			vertical-align: middle;

			> label {
				cursor: pointer;
				display: block;
				margin: -@wcfGapSmall;
				padding: @wcfGapSmall;

				> input[type="checkbox"] {
					margin: -1px 3px 0;
				}
			}
		}
		td {
			background-color: @wcfContainerBackgroundColor;
			.transition(background, .1s);
		}
		> tbody {
			> tr:nth-child(even) > td {
				background-color: @wcfContainerAccentBackgroundColor;
			}
		}
		> tbody {
			> tr {
				&:not(:last-child) {
					> td {
						border-bottom: 1px solid rgba(255, 255, 255, .3);
					}
				}

				&:hover {
					> td {
						background-color: @wcfContainerHoverBackgroundColor;
					}
				}

				> td:not(:last-child) {
					border-right: 1px solid rgba(255, 255, 255, .3);
				}

				> td.focus {
					background-color: @wcfContainerHoverBackgroundColor;
				}

				> td.left {
					text-align: left;
				}

				> td.right {
					text-align: right;
				}
			}
		}
	}
}
